@{
    ViewBag.Title = "Home Page";
}
<div class="home">
    <div class="max-width">
        <div class="row" style="margin-top:23%">
            <div align="center">
                <h1 class="h1home">Meet your friends <span class="h1HomeSpan">Meet your success</span> </h1>
                <h3 class="h3home"> Small <span> Discription</span> </h3>
                <br><br>
                <button type="button" name="button" class="btn" style="background-color: #242d3c;"> Sign up</button>
            </div>
        </div>
       
    </div>
    
</div>